body {
    margin: 0%;

}

.william-shakespeare {
    border: 0.5px;
    background-color: grey;
    color: white;
}

.elliot_smith {

    border: 0.5px;
    background-color: rgb(184, 173, 173);
    color: black;
   
}

.fyodor_dostoevsky {
    border: 0.5px;
    background-color: grey;
color:white ;
}
.kendrick_lamar{
    border: 0.5px;
    background-color: rgb(184, 173, 173);
    color: black
}