.designing-with-style {
    background-color: gold;
    color: green;
}

.designing-with-style {
    background-color: blue;
    color: black;
}

.doing-homework {
    background-color: gold;
    color: turquoise;
}