:root {
    --primary-bg-color: rgb(226, 219, 219);
    --secondary-bg-color: white;
    --terciary-color: rgb(155, 153, 153);
    --aside-hover-color: rgba(83, 79, 79, 0.664);
    --fourth-color: green;
}

.contanier {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    height: 100vh;
    display: grid;
    grid-template-columns: 280px 1fr;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: var(--primary-bg-color);
}

.title-starter {
    text-align: center;
}

.side-bar {
    margin: 0 10px 0 10px;
}

aside {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/sidebar-1.jpg);
    background-size: cover;
    width: 280px;
    grid-column: 1/2;
    grid-row: 1/4;
}

.avatar img {
    width: 45px;
    height: 45px;
    border-radius: 45px;
    margin-right: 10px;
}

.side-bar {
    margin: 0 10px 0 10px;
}

.aside-start {
    height: 50px;
    align-items: center;
    display: flex;
    color: var(--secondary-bg-color);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-top: 5px;
    justify-content: space-between;
}

.aside-categories {
    height: 60px;
    display: flex;
    color: var(--secondary-bg-color);
    padding-left: 15px;
    align-items: center;
    margin-top: 5px;
    justify-content: space-between;
}

.arrow {
    padding-right: 15px;
}

.wrap {
    display: flex;
    align-items: center;
}

.aside-categories:hover {
    background-color: var(--aside-hover-color);
    border-radius: 3px;
    cursor: pointer;
}

.aside-title {
    padding-left: 20px;
}

.dashboard {
    align-items: center;
    height: 60px;
    display: flex;
    background-color: orangered;
    border-radius: 3px;
    padding-left: 15px;
    color: var(--secondary-bg-color);
    cursor: pointer;
}

h1 {
    display: flex;
    color: var(--secondary-bg-color);
    justify-content: flex-start;
    font-weight: 200;
    margin-left: 10px;
}

.right-part {
    padding-left: 20px;
}



header {
    margin: 30px 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}



.more-vert-button {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.more-vert-icon {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    border: 1px;
    border-radius: 35px;
    background-color: var(--secondary-bg-color);
    justify-content: center;
    align-items: center;
    display: flex;
    color: var(--terciary-color);
    -webkit-box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.53);
    box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.53);
    margin-right: 20px;
}

.more-vert-icon::after {
    content: attr(tooltip);
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(10%);
    background-color: black;
    color: var(--secondary-bg-color);
    padding: 5px 10px;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-out;
    transition-duration: 2s;
    white-space: nowrap;
}

.more-vert-icon:hover {
    -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.53);
    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.53);
    cursor: pointer;
}

.more-vert-icon:hover::after {
    opacity: 1;
    visibility: visible;
    transition: opacity 0s ease-in;
}

.search-icon {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    border: 1px;
    background-color: var(--secondary-bg-color);
    justify-content: center;
    align-items: center;
    display: flex;
    color: var(--terciary-color);
    -webkit-box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.53);
    box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.53);
    border-radius: 50px;
    margin-right: 7px;
}

.search-icon::after {
    content: attr(tooltip);
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(10%);
    background-color: black;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-out;
    transition-duration: 2s;
    white-space: nowrap;
}

.search-icon:hover {
    -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.53);
    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.53);
    cursor: pointer;

}

.search-icon:hover::after {
    opacity: 1;
    visibility: visible;
    transition: opacity 0s ease-in;
}

.search-box-input {
    padding-top: 30px;
    outline: none;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    background-color: var(--primary-bg-color);
    font-size: 12px;
}

.search-bar {
    display: flex;
    justify-content: space-around;
}

.search-box-input:focus {
    border-color: purple;
    border-width: 3px;
}

.icons {
    color: rgb(73, 73, 73);
    padding-left: 30px;
}

.right-icons {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.position {
    position: relative;
    display: inline-block;
}

.position::after {
    content: attr(tooltip);
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-10%);
    background-color: black;
    color: var(--secondary-bg-color);
    padding: 5px 5px;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-out;
    transition-duration: 2s;
    white-space: nowrap;
}

.position:hover::after {
    opacity: 1;
    visibility: visible;
    transition: opacity 0s ease-in;
}

.hidden-border {
    position: absolute;
    z-index: 10;
    background-color: var(--secondary-bg-color);
    transform: translateX(-100%);
    top: -7px;
    border: 1px;
    border-radius: 2px;
    width: 250px;
    height: 195px;
    display: flex;
    flex-direction: column;
    padding: 4px;
    display: none;
    -webkit-box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.53);
    box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.53);
}

.notifications {
    font-size: 15px;
    background-color: var(--secondary-bg-color);
    width: 235px;
    height: 37px;
    display: flex;
    align-items: center;
    margin-top: 2px;
    border-radius: 2px;
    padding-left: 15px;
}

.notifications:hover {
    background-color: orangered;
    color: var(--secondary-bg-color);
}

.position:focus .hidden-border {
    display: inline-block;
}

button {
    font-size: 10px;
    width: 14px;
    height: 14px;
    border: 1px solid var(--secondary-bg-color);
    border-radius: 14px;
    background-color: red;
    color: var(--secondary-bg-color);
    position: absolute;
    top: 0;
    right: 0;
    justify-content: center;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.square {
    position: relative;
    display: inline-block;
}

.square::after {
    content: attr(tooltip);
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-10%);
    background-color: black;
    color: var(--secondary-bg-color);
    padding: 5px 10px;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-out;
    transition-duration: 2s;
    white-space: nowrap;
}

.square:hover::after {
    opacity: 1;
    visibility: visible;
    transition: opacity 0s ease-in;
}

.person {
    position: relative;
    display: inline-block;
}

.person::after {
    content: attr(tooltip);
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-25%);
    background-color: black;
    color: var(--secondary-bg-color);
    padding: 5px 10px;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-out;
    transition-duration: 2s;
    white-space: nowrap;
}

.person:hover::after {
    opacity: 1;
    visibility: visible;
    transition: opacity 0s ease-in;
}

.burger-icon {
    display: none;
    position: relative;

}

.burger-icon::after {
    content: attr(tooltip);
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-25%);
    background-color: black;
    color: var(--secondary-bg-color);
    padding: 5px 10px;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-out;
    transition-duration: 2s;
    white-space: nowrap;
}

.burger-icon:hover::after {
    opacity: 1;
    visibility: visible;
    transition: opacity 0s ease-in;
}

main {
    margin: 0 30px 0 30px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.general-knowledge {
    background-color: var(--secondary-bg-color);
    border-radius: 4px;
    position: relative;
    height: 350px;
    margin-top: 60px;
}

.begining {
    display: flex;
    align-items: center;
    position: absolute;
    top: -15px;
    left: 20px;
}

#box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px;
    width: 70px;
    height: 70px;
    background-color: var(--fourth-color);
    color: var(--secondary-bg-color);
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.57);
    box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.57);
}

.text {
    font-size: 23px;
    padding-left: 10px;
    padding-top: 10px;
    font-weight: 300;
}

.global-sale {
    display: flex;
    padding: 20px;
    padding-top: 90px;
}

.information {
    border-collapse: collapse;
    border-style: hidden;
    margin-right: 20px;
    height: 240px;
    width: 35%;
}

table {
    border: none;
    border-bottom: 1px solid grey;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    margin-right: 10px;
}

.flags {
    width: 25px;
    height: 20px;
    border-radius: 0;
    padding-right: 10px;
}

.data {
    padding-left: 10px;

}


iframe {
    width: 65%;
    height: 240px;
}

.statistics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
    margin-top: 80px;
}

.bookings {
    padding: 20px;
    height: 100px;
    background-color: white;
    border-radius: 4px;
    position: relative;
}

.opening {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 35px;
}

.weekend {
    position: absolute;
    border: 1px;
    width: 70px;
    height: 70px;
    background-color: rgb(255, 149, 0);
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 2px;
    top: -15px;
    left: 20px;
    -webkit-box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.57);
    box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.57);
}

.details {
    display: flex;
    flex-direction: column;
}

.word {
    color: grey;
}

.website-visits {
    padding: 20px;
    height: 100px;
    background-color: white;
    border-radius: 4px;
    position: relative;
}

.equalizer {
    position: absolute;
    border: 1px;
    width: 70px;
    height: 70px;
    background-color: rgb(228, 31, 139);
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 2px;
    top: -15px;
    left: 20px;
    -webkit-box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.57);
    box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.57);
}

.notification {
    display: flex;
    align-content: center;
    color: grey;
}

.revenue {
    padding: 20px;
    height: 100px;
    background-color: white;
    border-radius: 4px;
    position: relative;
}

.market {
    position: absolute;
    border: 1px;
    width: 70px;
    height: 70px;
    background-color: rgb(11, 136, 11);
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 2px;
    top: -15px;
    left: 20px;
    -webkit-box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.57);
    box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.57);
}

.public {
    position: absolute;
    border: 1px;
    width: 70px;
    height: 70px;
    background-color: rgb(57, 165, 231);
    color: var(--secondary-color);
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 2px;
    top: -15px;
    left: 20px;
    -webkit-box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.57);
    box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.57);
}

.social-media {
    padding: 20px;
    height: 100px;
    background-color: white;
    color: var(--secondary-bg-color);
    border-radius: 4px;
    position: relative;
}

.digit {
    font-size: 28px;
    color: black;
}

.font .material-icons {
    font-size: 13px;
}

.script {
    padding-left: 5px;
    font-size: 13px;
}

.heading {
    padding-top: 70px;
    font-size: 25px;
}

.listings {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
    column-gap: 32px;
}

.note {
    display: flex;
    align-content: center;
    color: var(--terciary-color);
}

.font .material-icons {
    font-size: 13px;
}

.other-side {
    padding-left: 5px;
    font-size: 13px;
}

.cards {
    border-radius: 5px;
    background-color: var(--secondary-bg-color);
    margin-top: 60px;
    border-radius: 4px;
    padding: 15px;
    padding-bottom: 0;
    position: relative;
}

@keyframes Go-up {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-40px);

    }
}

.photo-part:hover .photos img {
    animation-name: Go-up;
    animation-duration: 1s;
    transform: translateY(-40px);
    cursor: pointer;
}

.photo-part:hover .hidden-icons {
    opacity: 1;
    transition: opacity 2s;
}

.photo-part .hidden-icons {
    opacity: 0;
    transition: opacity 0s ease;
}

.second-part {
    display: flex;
    font-size: 17px;
    text-align: center;
    padding-bottom: 90px
}

#second-part {
    display: flex;
    font-size: 17px;
    text-align: center;
    padding-bottom: 90px;
}

.photo-part {
    width: 100%;
    position: relative;
    height: 170px;
}

.photos img {
    border-radius: 5px;
    width: 100%;
    margin-top: -45px;
    animation-name: Go-up;
    transition: transform 1s ease;
    position: relative;
    z-index: 10;
    height: 190px;
}

.third-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.part-container {
    width: 89%;
    position: absolute;
    bottom: 0;
    padding-bottom: 7px;
}

.lorem-text {
    font-size: clamp(14px, 1vw, 10px);
    margin-top: -35px;
    color: var(--terciary-color);
}

.hidden-icons {
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: opacity 0.5s ease 0.5s;
    transform: translateX(-50%);
    margin-left: 50%;
    margin-top: -30px;
    margin-bottom: 10px;
    opacity: 0;
    position: absolute;
}



.art-track .material-icons {
    color: var(--terciary-color);
    padding-right: 5px;
    font-size: 20px;
    position: relative;
    display: inline-block;
}

.art-track:hover {
    cursor: pointer;
}

.art-track::after {
    content: attr(tooltip);
    position: absolute;
    bottom: -120%;
    left: 50%;
    transform: translateX(-80%);
    background-color: black;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0s ease-out;
    transition-duration: 2s;
    white-space: nowrap;
}

.art-track:hover::after {
    opacity: 1;
    visibility: visible;
    transition: opacity 0s ease-in;
}

.edit .material-icons {
    color: var(--fourth-color);
    padding-left: 5px;
    font-size: 20px;
    position: relative;
    display: inline-block;
}

.edit:hover {
    cursor: pointer;
}

.edit::after {
    content: attr(tooltip);
    position: absolute;
    bottom: -120%;
    left: 50%;
    transform: translateX(-40%);
    background-color: black;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0s ease-out;
    transition-duration: 2s;
    white-space: nowrap;
}

.edit:hover::after {
    opacity: 1;
    visibility: visible;
    transition: opacity 0s ease-in;
}

.clear .material-icons {
    color: red;
    padding-left: 5px;
    font-size: 20px;
    display: inline-block;
    position: relative;
}

.clear:hover {
    cursor: pointer;
}

.clear::after {
    content: attr(tooltip);
    position: absolute;
    bottom: -120%;
    left: 50%;
    transform: translateX(30%);
    background-color: black;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0s ease-out;
    transition-duration: 2s;
    white-space: nowrap;
}

.clear:hover::after {
    opacity: 1;
    visibility: visible;
    transition: opacity 0s ease-in;
}



h4 {
    color: black;
    font-weight: 400;
    font-size: 20px;
}

footer {
    margin: 0 30px 0 30px;
    height: 150px;


}

.final-part {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
}

.footnote {
    padding-right: 20px;
    font-weight: bold;
}

.footnote:hover {
    cursor: pointer;
}

@media only screen and (max-width: 1090px) {
    body {
        grid-template-columns: 1fr;
    }

    aside {
        display: none;
    }

    .icons,
    .more-vert-icon,
    .search-bar {
        display: none;
    }

    .burger-icon {
        display: inline-block;
    }

    .general-knowledge {
        height: 620px;
    }

    .global-sale {
        display: flex;
        flex-direction: column;
    }

    .information {
        width: 100%;
    }

    iframe {
        padding-top: 30px;
        width: auto;

    }

    .listings {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {

    .general-knowledge,
    .information,
    iframe {
        width: 100%;
        max-width: 100%;
    }

    .photos img {
        width: 100%;
        max-width: 100%;
        height: 195px;
    }

    .cards {
        width: 91%;
    }

    .photo-part {
        width: 100%;
    }

    main {
        overflow-x: hidden;
    }

    aside {
        display: none;
    }

    .global-sale {
        display: flex;
        flex-direction: column;
        padding: 20px;
        padding-top: 90px;
    }

    .general-knowledge {
        margin-top: 60px;
    }

    iframe {
        padding-top: 20px;
    }

    .statistics {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4 1fr);
        column-gap: 30px;
        row-gap: 30px;
        margin-top: 40px;
    }

    .listings {
        width: 100%;
        max-width: 100%;
        display: flex;
        row-gap: 30px;
        flex-direction: column;
    }

    .hidden-icons {
        margin-left: 50%;
    }


    .statistics {
        width: auto;
        display: flex;
        flex-direction: column;
    }

    .listings {
        width: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .second-part {
        padding-bottom: 90px;
    }
}